# Emtea -- MTA Mini Manager
# (C) Richard "Shred" Körber
#
# This .htaccess file will ensure that register globals and magic
# quotes are turned off, and that no transparent SID is used. Also
# no files starting with an underscore, must be executed. This is
# for security reasons, to make life of attackers and session stealers
# as tough as possible.
#
# Note that although Emtea will also work without these security
# measures, they are strongly recommended.
#
#-----------------------------------------------------------------------
# This software is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# $Id: .htaccess,v 1.2 2004/03/04 09:08:01 shred Exp $
#

php_flag magic_quotes_gpc off
php_flag register_globals off
php_flag session.use_trans_sid 0

<FilesMatch "^_">
  Deny From All
</FilesMatch>


